<div class="overlay">
  <!-- Overlay inner wrapper -->
  <div class="overlay__inner">
    <h1 class="overlay__title">
      <span class="text-gradient">Contacts</span>
    </h1>
  </div>
  <div class="overlay__inner2">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll contact you back here</div>
      </div>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 200px"></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>
      <br>
      <button type="submit" class="overlay__btn overlay__btn--colors w-25">Submit</button>
    </form>
  </div>
</div>
