<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MedicalFirst</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">
            Overview
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacts">Contacts</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
        <li class="nav-item">
          <a class="nav-link" *ngIf="!user" (click)="login()">Login</a>
        </li>
        <!-- all actions blocked if user is not logged in -->
        <li class="nav-item dropdown" *ngIf="user">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Welcome {{user.username}} </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/areariservata"> <i class="bi bi-person-circle"></i> Personal area</a></li>
            <li><a class="dropdown-item" href="/appointments"><i class="bi bi-pencil-square"></i> Appointments</a></li>
            <li><a class="dropdown-item" href="/reports"> <i class="bi bi-journal-text"></i> Reports</a></li>
            <li><a class="dropdown-item" (click)="logout()"> <i class="bi bi-box-arrow-right"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="bg-black text-white">
  <div id="footer">
    <div id="MedicalFirst" class="col">
      <h5 class="mb-5">MedicalFirst</h5>
      <p class="small">We know the importance of high quality tests.</p>
      <p class="small"> Medical First is committed to being a trusted healthcare partner.</p>
    </div>
    <div id="Services" class="col">
      <h5 class="mb-5">Services</h5>
      <p class="small" id="footitem">Prelievi del sangue</p>
      <p class="small" id="footitem">Visita medico/sportiva</p>
      <p class="small" id="footitem">Ecografia</p>
      <p class="small" id="footitem">Agopuntura</p>
    </div>
    <div id="Contacts" class="col">
      <h5 class="mb-5">Contacts</h5>
      <p><a href="https://www.instagram.com/" target="_blank" id="footitem" class="text-decoration-none"><p><i class="bi bi-instagram"></i> medical_first</a></p>
      <p><a href="https://www.facebook.com/" target="_blank" id="footitem" class="text-decoration-none"><i class="bi bi-facebook"></i> Medical First Page</a></p>
      <a id="footitem"><i class="bi bi-whatsapp"></i> +39 3364577109 </a>
    </div>
    <div id="Law&Order" class="col">
      <h5 class="mb-5">Law & Order</h5>
      <p class="small" id="footitem">Terms of service</p>
      <p class="small" id="footitem">General terms and conditions</p>
      <p class="small" id="footitem">Data protection</p>
      <p class="small" id="footitem">Cookies</p>
      <p class="small" id="footitem">Legal notices</p>
    </div>
  </div>
  <p class=" small text-center m-0 pb-5">@MedicalFirst 2023, reiciendis nesciunt veritatis ipsa iure quia! Qui quisquam inventore commodi nam officia.</p>
</footer>
